<h1> Welcome to the Find Me Help Center</h1>

<p>If you are looking for the desk location of a specific employee, their email address, or extension – select <a href="#employee">Employee Finder</a>.</p>

<p>Looking for the location of a conference room?  The <a href="#conf_rm">Conference Room Directory</a> can help you find it.</p>

<p>Know where someone sits but don’t remember their name? Or forget which conference room is which? If you know where within the building the person or room is located,
the <a href="#building">Building Directory</a> will help you find the person or room you are looking for.</p>

<h2 id="employee" class="navpoint">Employee Finder</h2>

<p>To find the desk location of an employee, begin by entering all or part of their name in the field Find by Employee name.</p>
<ul>
<li>All matching results will be returned, alphabetical by first name.</li>
<li>The results will be listed with the first and last name of the employee, and their building.  If applicable, the floor number will also appear.</li>
<li>To select an employee, click on their first or last name.</li>
<li>If only one result matches the entered criteria, the page with that employee’s location information will automatically load.</li>
</ul>


<h2 id="conf_rm" class="navpoint">Conference Room Directory</h2>

<ul>
<li>To find the desk location of a conference room, begin by entering all or part of the name in the field Find by Conference Room name.</li>
</ul>

<p style="margin-left: 20px; text-transform:uppercase;">or</p>

<ul>
<li>From the Conference Room Directory tab, select any room by name.  The page will list which building and floor the conference room is in, and the map will show the location on the floor.</li>
</ul>

<h2 id="building" class="navpoint">Building Directory</h2>

<ul>
<li>Select a building &amp; floor and the map will display showing the conference rooms
on the floor as well as the location of employees.</li>
<li>Hovering your mouse pointer over a dot on the map will display the name of the employee (red dot) or conference room (green dot) at that particular location.</li>
<li>If you want to know who sits in a general area of a building/floor, select the location on the map and it will display a list of those in the area and dots will show their location in that area.</li>
</ul>

<h2>Editing Employees &amp; Locations <span style='font-weight:normal;font-size:12pt;color:red'>&lt;permission based?&gt;</span></h2>

<h3>Add a new employee</h3>

<p>From the Employee Directory, select the link 'New Employee'.</p>

<ul>
<li>Enter their Email address</li>
<li>Select the box for 'current employee' if they are a current employee</li>
<li>Enter First name</li>
<li>Enter Last name</li>
<li>Select building and floor</li>
<li>Click their desk location on the map to populate the X and Y coordinates.</li>
<li>Click 'Create Employee'</li>
</ul>

<h3>Updating employee information or location</h3>

<ul>
<li>Locate the employee in the directory, and select 'Edit'.</li>
<li>Edit the fields accordingly for any name or email address changes.</li>
<li>For location changes, select the new location on the floor to move their dot, or select a new building &amp; floor and click the map location of their new desk to move the dot.</li>
<li>Click 'Update Employee'.</li>
</ul>

<h3>To remove an employee from a directory</h3>

<p>Locate the employee in the directory, and select 'Edit'. Uncheck the 'Current employee' box, and then Update Employee.</p>

<p class="page_bottom"></p>
