<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :current_employee %><br>
    <%= f.check_box :current_employee %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :building %><br>
    <%= f.select("location_id", @locations, {:include_blank => ' (choose a location) '}, {id: 'location_selector'} ) %>
  </div>
  <div class="field">
    <%= f.label :x_cord %><br>
    <%= f.number_field :x_cord, id: 'x_cord', readonly: 'true' %>
  </div>
  <div class="field">
    <%= f.label :y_cord %><br>
    <%= f.number_field :y_cord, id: 'y_cord', readonly: 'true' %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Employee', :class => 'btn btn-primary' %>
  </div>
<% end %>
