<h1>Editing Employee</h1>

<div class="employee_info">
<%= render 'form' %>
</div>

<div class="map" id="map_edit">
  <%- location = @employee.location -%>
  <%- if location %>
  <a href="/locations/<%= location.id %>"><%= image_tag location.image %></a>
    <%- if location.orientation %>
    <span class="compass_rose" style="transform: rotate(<%= location.orientation %>deg); display:inline-block">
      <%= image_tag 'compass_wind_rose-192.png' %></span>
    <%- else %>
    <span class="compass_rose" style="display:inline-block">
      <%= image_tag 'compass_wind_rose-192.png' %></span>
    <script>$('.compass_rose').hide()</script>
    <% end %>
  <div class="map_dot" style="top: <%= @employee.y_cord.to_i - 12 %>px; left: <%= @employee.x_cord.to_i - 12 %>px;">
    <img src="/images/red_circle.png" alt="<%= @employee.first_name %> <%= @employee.last_name %>"/>
  </div>
  <%- else %>
  <a href="/locations/0"><%= image_tag 'unknown.png' %></a>
  <span class="compass_rose" style="display:inline-block">
    <%= image_tag 'compass_wind_rose-192.png' %></span>
  <div class="map_dot" style="top: 0px; left: 0px; display: none;">
    <img src="/images/red_circle.png" alt="<%= @employee.first_name %> <%= @employee.last_name %>"/>
  </div>
  <script>$('.compass_rose').hide()</script>
  <% end %>
</div>

<div class="footar_nav">
<%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, @employee %>
</div>
