<p id="notice"><%= notice %></p>

<h1>Employee Directory</h1>
<%= will_paginate @employees %>
<br/>
<table class="directory-listing">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.first_name, employee %></td>
        <td><%= link_to employee.last_name,  employee %></td>
        <td><%= employee.building %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= will_paginate @employees %><br/>
<%= link_to 'New Employee', new_employee_path %>
