<h1>New Employee</h1>

<div class="employee_info">
<%= render 'form' %>
</div>

<div class="map" id="map_edit">
  <a href="/locations/0"><%= image_tag 'unknown.png' %></a>
  <span class="compass_rose" style="display:inline-block">
    <%= image_tag 'compass_wind_rose-192.png' %></span>
  <div class="map_dot" style="top: 0px; left: 0px; display: none;">
    <img src="/images/red_circle.png" alt=""/>
  </div>
</div>
<script>$('.compass_rose').hide()</script>

<div class="footar_nav">
<%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, employees_path %>
</div>
