<p id="notice"><%= notice %></p>

<div id="info">
<div class="employee_info" id="employee_info">
  <p>
    <strong>First name:</strong>
    <input v-if="editMode" v-model="employee.first_name"/>
    <span v-else>{{employee.first_name}}</span>
  </p>

  <p>
    <strong>Last name:</strong>
    <input v-if="editMode" v-model="employee.last_name"/>
    <span v-else>{{employee.last_name}}</span>
  </p>

  <p>
    <strong>Current employee:</strong>
    <span @click="employeeStatus" style="cursor:default">{{employee_status}}</span>
  </p>

  <p>
    <strong>Building:</strong>
    <select v-if="editMode" v-model="employee.location" id="employee.location" @change="updateMap">
        <option v-for="location in locations" v-bind:value="location.value">
            {{ location.text }}
        </option>
    </select>
    <span v-else>{{employee.building}}</span>
  </p>

  <p>
    <strong>Telephone:</strong>
    <input v-if="editMode" v-model="employee.phone_number"/>
    <span v-else>{{employee.phone_number}}</span>
  </p>

  <p>
    <strong>Extension:</strong>
    <input v-if="editMode" v-model="employee.extension"/>
    <span v-else>{{employee.extension}}</span>
  </p>

  <p>
    <strong>Email:</strong>
    <input v-if="editMode" v-model="employee.email"/>
    <span v-else>{{employee.email}}</span>
  </p>

  <p v-if="editMode">
    <strong>X:</strong>
    <span>{{employee.x_cord}}</span>
  </p>
  <p v-if="editMode">
    <strong>Y:</strong>
    <span>{{employee.y_cord}}</span>
  </p>

  <p>
    <button v-if="editMode" type="button" class="btn btn-primary" @click="updateEmployee">Save</button>
    <button v-else type="button" class="btn btn-primary" @click="editMode = true">Edit</button>
  </p>
</div>

<div class="map" id="map">
  <%- location = @employee.location -%>
  <% if location %>
  <a href="/locations/<%= location.id %>" @click="maphandler" v-bind:href="'/locations/'+employee.location"><img src="/assets/<%= location.image %>" v-bind:src="map_images[employee.location]" /></a>
  <% if location.orientation %>
    <span class="compass_rose" style="transform: rotate(<%= location.orientation %>deg); display:inline-block">
      <%= image_tag 'compass_wind_rose-192.png' %></span>
  <% end %>
    <% if @employee.x_cord || @employee.y_cord %>
    <div class="map_dot" v-bind:style="{left: employee.x_cord + 'px', top: employee.y_cord + 'px'}" v-if="employee.x_cord > 0 && employee.y_cord > 0">
      <img src="/images/red_circle.png" alt="<%= @employee.first_name %> <%= @employee.last_name %>" title="<%= @employee.first_name %> <%= @employee.last_name %>"/>
    </div>
    <% end %>
  <% end %>
</div>
</div>

<div class="footar_nav">
  <%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, employees_path %>
</div>
