<h1>Search Results - by Employee Name</h1>
<%- if @employees.size == 0 -%>
  <p style="color:red">No results found</p>
<%- else -%>
<%= will_paginate @employees %>
<br/>
<table class="directory-listing">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.first_name, employee %></td>
        <td><%= link_to employee.last_name,  employee %></td>
        <td><%= employee.building %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= will_paginate @employees %><br/>
<%- end -%>

<h1>Search Results - by Conf Room Name</h1>

<%- if @conf_rooms.size == 0 -%>
  <p style="color:red">No results found</p>
<%- else -%>

<table class="directory-listing">
  <thead>
    <tr>
      <th>Conf Room Name</th>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @conf_rooms.each do |conf_room| %>
      <tr>
        <td><%= link_to conf_room.conf_room, conf_room %></td>
        <td><%= link_to conf_room.building,  conf_room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- end -%>
