<%= form_for(@conf_room) do |f| %>
  <% if @conf_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conf_room.errors.count, "error") %> prohibited this conf_room from being saved:</h2>

      <ul>
      <% @conf_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :conf_room %><br>
    <%= f.text_field :conf_room %>
  </div>
  <div class="field">
    <%= f.label :building, for: 'location_selector' %><br>
    <%= select(:conf_room, "location_id", @locations, {:include_blank => ''}, {id: 'location_selector'} ) %>
  </div>
  <div class="field">
    <%= f.label :x_cord, for: 'x_cord' %><br>
    <%= f.number_field :x_cord, id: 'x_cord', readonly: 'true' %>
  </div>
  <div class="field">
    <%= f.label :y_cord, for: 'y_cord' %><br>
    <%= f.number_field :y_cord, id: 'y_cord', readonly: 'true' %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Conf Room', :class => 'btn btn-primary'%>
  </div>
<% end %>
