<p id="notice"><%= notice %></p>

<h1>Conference Room Directory</h1>

<table class="directory-listing">
  <thead>
    <tr>
      <th>Conf Room</th>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @conf_rooms.each do |conf_room| %>
      <tr>
        <td><%= link_to conf_room.conf_room, conf_room %></td>
        <td><%= link_to conf_room.building,  conf_room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conf Room', new_conf_room_path %>
