<p id="notice"><%= notice %></p>

<div id="info">
<div class="conf_room_info">
  <p>
    <strong>Conference Room:</strong>
    <input v-if="editMode" v-model="conf_room.conf_room"/>
    <span v-else>{{conf_room.conf_room}}</span>
  </p>

  <p>
    <strong>Building:</strong>
    <select v-if="editMode" v-model="conf_room.location" id="conf_room.location" @change="updateMap">
        <option v-for="location in locations" v-bind:value="location.value">
            {{ location.text }}
        </option>
    </select>
    <span v-else>{{conf_room.building}}</span>
  </p>

  <p v-if="editMode">
    <strong>X:</strong>
    <span>{{conf_room.x_cord}}</span>
  </p>
  <p v-if="editMode">
    <strong>Y:</strong>
    <span>{{conf_room.y_cord}}</span>
  </p>

  <p>
    <button v-if="editMode" type="button" class="btn btn-primary" @click="updateConfRoom">Save</button>
    <button v-else type="button" class="btn btn-primary" @click="editMode = true">Edit</button>
  </p>
</div>

<div class="map" id="map">
  <%- location = @conf_room.location -%>
  <% if location %>
  <a href="/locations/<%= location.id %>" @click="maphandler" ><img src='/assets/<%= location.image %>' v-bind:src="map_images[conf_room.location]"/></a>
  <% if location.orientation %>
    <span class="compass_rose" style="transform: rotate(<%= location.orientation %>deg); display:inline-block">
      <%= image_tag 'compass_wind_rose-192.png' %></span>
  <% end %>
    <% if @conf_room.x_cord || @conf_room.y_cord %>
    <div class="map_dot" v-bind:style="{left: conf_room.x_cord + 'px', top: conf_room.y_cord + 'px'}" v-if="conf_room.x_cord > 0 && conf_room.y_cord > 0">
      <img src="/images/red_circle.png" alt="<%= @conf_room.conf_room %>" title="<%= @conf_room.conf_room %>"/>
    </div>
    <% end %>
  <% end %>
</div>
</div>

<div class="footar_nav">
<%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, conf_rooms_path %>
</div>
