/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
$grid-float-breakpoint: 1200px;
$grid-gutter-width: 20px;
$container-large-desktop: 1550px + $grid-gutter-width;
@import "bootstrap-sprockets";
@import "bootstrap";

div.margin_left {
    margin-left: 50px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 5em;
    margin-top: 77px;
}

nav {
    min-height: 50px;
    background-image: linear-gradient(to bottom, #001b50 0%, #002 100%);
    font-size: 18px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999999;
}

nav img.logo {
    float: left;
    border-right: 2px solid #aaa;
    margin-left: -10px;
    margin-right: 15px;
    text-align: left;
    display: block;
    background-color: #ED8B00;
}

.navbar-first {
    border-left: 1px solid #888;
    font-size: 150%;
    font-weight: bold;
}

.navbar-link {
    float: left;
    border-right: 1px solid #aaa;
    text-align: center;
    padding: 14px 20px 18px;
    height: 18px;
}

.navbar-image:before {
    float: left;
    border-right: 1px solid #aaa;
    text-align: left;
    display: block;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    content: url(/assets/FindMeSmall.png);
    background-color: #ED8B00;
}

nav a, nav a:visited {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #e0e0e0;
    background-color: transparent;
    text-shadow: 0 0 1em white, 0 0 3px purple;
}

.directory-listing tr {
    background-color: white;
}
.directory-listing tr:hover {
    background-color: #F8971D;
}

.directory-listing {
    border-collapse: collapse;
}

.directory-listing td, .directory-listing th {
    padding: 2px;
    padding-right: 1.5em;
    text-align: left;
}

.directory-listing a {
    background-color: transparent;
}

.employee_info, .conf_room_info {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.map {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.footar_nav {
  display: block;
  clear: both;
}

.map_dot {
  position: absolute;
}

.navpoint {
  padding-top: 56px;
  margin-top: -40px;
}

.page_bottom {
  padding-bottom: 10ex;
}

h1 {
  font-size: 2.5rem;
}
