<p id="notice"><%= notice %></p>

<h1>Building Directory</h1>

<table class="directory-listing">
  <thead>
    <tr>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.location,  location %></td>
      </tr>
    <% end %>
  </tbody>
</table>



