<div class="employee_info">
<h1>Conference Rooms in <%= @location.location %></h1>
<table class="directory-listing">
  <thead>
    <tr>
      <th>Conf Room</th>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @conf_rooms.each do |conf_room| %>
      <tr>
        <td><%= link_to conf_room.conf_room, conf_room %></td>
        <td><%= link_to conf_room.building,  conf_room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Employees in <%= @location.location %></h1>
<table class="directory-listing">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.first_name, employee %></td>
        <td><%= link_to employee.last_name,  employee %></td>
        <td><%= employee.building %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= will_paginate @employees %><br/>
</div>

<div class="map">
  <a href="/locations/<%= @location.id %>"><img src='/assets/<%=@location.image%>'/></a>
  <span class="compass_rose" style="transform: rotate(<%= @location.orientation %>deg); display:inline-block">
    <%= image_tag 'compass_wind_rose-192.png' %></span>
    <% @conf_rooms.each do |conf_room| %>
    <% if conf_room.x_cord || conf_room.y_cord %>
    <div class="map_dot" style="top: <%= conf_room.y_cord.to_i %>px; left: <%= conf_room.x_cord.to_i %>px;">
      <img src="/images/green_circle.png" alt="<%= conf_room.conf_room %>" title="<%= conf_room.conf_room %>"/>
    </div>
    <% end %>
  <% end %>
  <% @employees2.each do |employee| %>
    <% if employee.x_cord || employee.y_cord %>
    <div class="map_dot" style="top: <%= employee.y_cord.to_i %>px; left: <%= employee.x_cord.to_i %>px;">
      <img src="/images/red_circle.png" alt="<%= employee.first_name %> <%= employee.last_name %>" title="<%= employee.first_name %> <%= employee.last_name %>"/>
    </div>
    <% end %>
  <% end %>
</div>

