<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employee Finder</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="border: 0">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="/assets/FindMeSmall.png" class="logo"/>
          <!-- <a class="navbar-brand" href="/">MSTS Employee Finder</a> -->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/employees">Employee Directory</a></li>
            <li><a href="/conf_rooms">Conference Room Directory</a></li>
            <li><a href="/locations">Building Directory</a></li>
            <!-- <li><a href="/feedback">Feedback</a></li> -->
            <!-- <li><a href="/help">Help</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="margin_left">
            <form method="GET" action="/search/" id="employee_search">
                <input id="emp_name" name="search_term" value="<%= params[:emp_name] %>"/>
                <button id="find_emp">Find 'Em!</button>
            </form>
        </div>
        <hr/>
        <div class="margin_left">
            <%= yield %>
        </div>
    </div><!-- /.container -->


  </body>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
</html>
